
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header styles */
.header{
    background-image: url('../Assets/Hero-bg.png');
    padding: 200px;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}
.btn-primary{
    background-color: #4E47FF;
    border-radius: 10px;
    border-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    color: white;
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;
}
nav ul li{
    list-style: none;
}
/* banner content */
.banner-content{
    text-align: center;
    margin: 158px 300px 200px 300px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}


/* action section */
.banner-text{
    justify-content: space-between;
    display: flex;
    padding: 100px 150px;
    
}
.banner-list{
    list-style: none;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.p-text{
    font-size: 24px;
    color: #252432;
}
.banner-image{
    border-radius: 48px;
}
/* productive section */
.title{
    font-weight: bold;
    font-size: 38px;
}
.secondary-bg{
    background-color: #9997da;
    padding: 50px 80px;
    margin: 150px 150px;
    text-align: center;
    border-radius: 24px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.item{
    justify-content: space-between;
    flex-direction: column;
}
.about-item{
    font-weight: bold;
    font-size: 80px;
}
.about-des{
    font-size: 20px;
    color: #252432;
}
/* feedback section */
.section-title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.feedback-items{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    
}
.skill{
    gap: 20px;
    box-shadow: 0px 4px 20px rgba(44, 41, 41, 0.1);
}
.reviewer{
    display: flex;
}
.r-i{
    border-radius: 50%;
}
.focus-section{
    text-align: center;
}
/* focus section */
.foucs-section{
    text-align: center;
    margin: 71px 150px;
    background-color: #9997da;
    padding: 70px 150px;
}
.f-t{
    margin: 20px;
}
.btn-classic{
    margin: 0 0  20px 0;
}
.i-e{
    border-radius: 48px;
}
.focus-title{
    font-weight: bold;
    font-size: 60px;
    color: #252432;
}



/* footer styles */
.touch-section{
    padding: 150px 150px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin: 150px 150px;
}
.touch-title{
    font-weight: bold;
    font-size: 97px;
}
.n-h{
    font-weight: medium;
    font-size: 18px;
    color: #252432;
}
